		.info{	
    		height: 50px;
    		margin-top: -3px;
    	}
		.allform{
			height: 50px;
			z-index: 1;
			margin-top: -3px;

		}
		table input{
			width: 170px;
			height: 32px;
			background-color: f7f3e6;
			padding: 10px;
			border :none;
		}
		table button{
			width: 100px;
			height: 29px;
		}
		table a{
			color: red;
			text-decoration: none;
		}